.containerBody {
   height: 700px;
   width: 450px;
   background-color: #0d3240;
   border: 1px solid #000;
   border-radius: 20px;
   color: #fefefe;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
}

.bookImgContainer {
   border-top: 3px solid #619fb7;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 20px;
   width: 100%;
}

.bookImgContainer > img {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   height: 100px;
}

.bookImgContainer > p {
   margin-top: 20px;
   margin-left: 20px;
}

.bookImgContainer > h3 {
   /* margin-top: 20px; */
   margin-left: 20px;
}

.bookImgContainer > div {
   margin-top: 15px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 15px;
   /* width: 80%; */
}

