.commentContainer {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
}

.keySectionComment {
   width: 40%;
}

.valueSectionComment {
   width: 60%;
}

.scrollContainer {
   height: 180px;
   overflow: auto;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   background: #619fb7;
   border-radius: 10px;
}